<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
const apiUrl = 'https://api.github.com/repos/gergelyke/gergelyke.github.io/issues/<%- page.githubIssueId %>/comments'

$(function() { 
  $.ajax(apiUrl, {
    headers: {
        Accept: 'application/vnd.github.v3.html+json'
    },
    dataType: 'json',
    success: function(comments) {
      const $commentSection = $('.blog-post-comments')
      comments.forEach(function (comment) {
        $commentSection.append(
          `
          <div class="comment">
            <a class="commenter" href="${comment.user.html_url}" 
              target="_blank">${comment.user.login}</a>, 
              ${new Date(comment.created_at).toUTCString()}
            <p>
              ${comment.body_html}
            </p>
          </div>
          `
        )
      })
    }
  })
})
				
	    		<ul>
	        		<li><a href="mailto:jasmine.wen@amdocs.com">email</a></li>
	        		<li><a href="https://github.com/JasmineOttawa">github.com/JasmineOttawa</a></li>
				</ul>
			</footer>
		</body>
	</html>
