---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>

<script src="https://utteranc.es/client.js"
        repo="https://github.com/JasmineOttawa/JasmineOttawa.github.io"
        issue-term="pathname"
        crossorigin="anonymous"
        async>
</script>

<div id="container"></div>  
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">  
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>  
<script>  
var gitment = new Gitment({  
  id: '<%= page.title.replace(/[^\w\s]/gi, '').substring(0, 49) %>', 
  owner: 'JasmineOttawa',   
  repo: 'https://github.com/JasmineOttawa/JasmineOttawa.github.io',  
  oauth: {  
    client_id: '903594063a68039aa0f6',  
    client_secret: '04eef378ab048ea3c0d86fafa7f6609bf4a4735f',  
  },  
})  
gitment.render('container')  
</script>
